body{
    background-color: #281766;
    margin: 40px;
}
.animations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 

}
/* normal button*/
.button{
  
    display: block;
    background-color: rgb(117, 116, 124);
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    width: max-content;
    text-align: center;
    color: #FFFFFF; 

}
.loginButton{
    padding: 4%; 

}
.loginButton :hover {
    background-color: #4095af}

.button:active {
  background-color: #4095af;
  box-shadow: 0 2px #fff;
  transform: translateX(5px); 
}
/* normal button*/


/* annoying button */
.annoying {
    width: 300px;
    height: 300px;
    background-image: url(image2.jpeg);
    background-repeat: no-repeat;
    position: relative;
    animation-name: photo-change;
    animation-duration: 2s;  
    animation-delay: 1s;
    animation-fill-mode: backwards;
    
  }
.annoying a{
    text-decoration: none;
    font-size: larger;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    
}
@keyframes example{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}

}

  
@keyframes photo-change {
    from {top: 100px; background-image: url(image11.jpeg) ;}
    to {top: 200px;}
    
}
/* https://www.w3schools.com/css/css3_animations.asp */
/* annoying button end*/
.button2 {
    border-radius: 4px;
    background-color: #4095af;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 100px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  
  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
  
  .button2:hover span {
    padding-right: 25px;
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }
  /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate1 */